{# premiere page d'accueil #}
{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block monTitre %}
	Page d'Accueil
{% endblock %}

{% block body %}
	<h2>Bienvenue sur mon site de Personnages</h2>
{% endblock %}
