{# deuxieme page d'affichage #}
{# heritage de la classe base  #}
{% extends 'base.html.twig' %}
	{% block title %}
Personnages
{% endblock %}

	{% block monTitre %}
Liste des Personnages
{% endblock %}


	{% block body %}
		<table class = "table"> 
        <thead class ="thead-dark">
        <tr>
			<th>Image</th>
			<th>Nom</th>
			<th>Age</th>
			<th>Sexe</th>
			<th>Force</th>
			<th>Agilité</th>
			<th>Intelligence</th>
		</tr>
        </thead>

		{% for player in players %}
			<tr>
				<td><img src="{{asset('images/personnages/'~ player.nom ~'.png')}}"></td>
                <td><a href="{{ path ('afficher_personnage',{'nom': player.nom | lower})}}">{{ player.nom }} </a></td>
				<td>{{player.age}}</td>
				<td>
					{% if player.sexe %}
						Homme
					{% else %}
						Femme
					{% endif %}
				</td>
				<td>{{player.carac.force}}</td>
				<td>{{player.carac.agi}}</td>
				<td>{{player.carac.intel}}</td>

			</tr>


		{% endfor %}
	</table>
{% endblock %}
