<ul class="nav justify-content-center">
	<li class="nav-item">
		<a class="nav-link active" aria-current="page" href="{{path("accueil")}}">Mon Super Site</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path("personnages")}}">Personnages</a>
	</li>
	 <li class="nav-item">   
		    <a class="nav-link" href="{{path("armes")}}">Armes</a>
		  </li>
		  
</ul>
