{% extends 'base.html.twig' %}
{% block title %}
	Arme
{% endblock %}

{% block monTitre %}
	Arme
	{{ arme.nom }}
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-2">
			<img src="{{asset('images/armes/'~ arme.nom ~'.png')}}">
            </div>
			<div class="col">
				<div>
					Description :
					{{ arme.description}}
				</div>
				<div>
					Dégat :
					{{ arme.degat }}</div>

			</div>
		</div>


	{% endblock %}
