{% extends 'base.html.twig' %}

{% block title %}Armes!{% endblock %}

{% block monTitre %}
Listes des Armes
{% endblock %}

{% block body %}
{% for arme in armes %}
<div class= "row">
<div class = "col-2">
<img src="{{asset('images/armes/' ~ arme.nom  ~ '.png')}}">
</div> 
<div class="col">
<a href="{{ path('afficher_arme', {'nom' : arme.nom}) }}"> {{arme.nom }}</a>
</div>
</div>
{% endfor %}
{% endblock %}
